# Default ignored files
/../../JFinance./.idea/shelf/
/../../JFinance./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../JFinance./.idea/httpRequests/
# Datasource local storage ignored files
/../../JFinance./.idea/dataSources/
/../../JFinance./.idea/dataSources.local.xml
